<!doctype html>
<html lang="en">
<head>
<title>{{@PAGE.TITLE}} | {{@SITE.NAME}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="//bootswatch.com/yeti/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script src="//code.jquery.com/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body style='background-color: #f9f9f9;'>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>{{@PAGE.HEADER}}</h1>
    </div>
  </div>

<!-- PAGE CONTENT START: {{ @PAGE.CONTENT }} -->
<include href="{{ @PAGE.CONTENT }}" />
<!-- PAGE CONTENT END: {{ @PAGE.CONTENT }} -->

</div>
</body>
</html>
