<div class="row clearfix">
  <div class="col-md-12 column">

<check if="{{ @highest_failure_event > 0}}">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">
          Not All Systems Operational
          <small class="pull-right">Last updated {{ @most_recent_update_str }}</small>
        </h3>
      </div>
    </div>
</check>

    <div class="row clearfix">
      <div class="col-md-12 column">
        <div class="list-group">
<repeat group="{{ @nodes }}" value="{{ @item }}">
<set classattr="info">
<check if="{{ @item.status == 0 }}">
  <set class_attr="success">
  <set stat_text="Operational">
</check>
<check if="{{ @item.status == 1 }}">
  <set class_attr="warning">
  <set stat_text="Degraded">
</check>
<check if="{{ @item.status == 2 }}">
  <set class_attr="danger">
  <set stat_text="Not Operational">
</check>
<check if="{{ @item.status == 3 }}">
  <set class_attr="info">
  <set stat_text="Unknown">
</check>
          <div class="list-group-item list-group-item-{{@class_attr}}">
            <h4 class="list-group-item-heading">{{@item.name}}</h4>
            <p class="list-group-item-text">
              <span class="label label-{{@class_attr}}">{{@stat_text}}</span>
<check if="{{ @item.status != 0 }}">
              {{nl2br(trim(@item.msg))}}
</check>
              <small>{{@item.age}}</small>
            </p>
          </div>
</repeat>
        </div>
      </div>
    </div>
  </div>
</div>
