<div class="row clearfix">
  <div class="col-md-12 column">
    <p>Use this page to manually update the status of a system.</p>
    
    <form method="POST" action="{{ 'post_update' | alias }}">
      <input type="hidden" name="manual_update" value="1">
      
      <!-- NODE SELECT -->
      <div class="form-group">
        <label for="nid">Select Node</label>
        <select class="form-control" id="nid" name="nid">
<repeat group="{{ @nodes }}" value="{{ @item }}">
          <option value="{{ @item.node }}">{{ sprintf('%s (%s)', @item.name, @item.node) }}</option>
</repeat>
        </select>
      </div>
      
      <!-- NODE STATUS -->
      <div class="form-group">
        <label for="status">Status</label>
        <select class="form-control" id="status" name="status">
          <option value="0">OK</option>
          <option value="1">Degraded</option>
          <option value="2">Not Operational</option>
          <option value="3">Unknown</option>
        </select>
      </div>
      
      <!-- STATUS MESSAGE -->
      <div class="form-group">
        <label for="msg">Status Message</label>
        <textarea class="form-control" id="msg" name="msg" rows="2"></textarea>
      </div>
      
      <!-- KEY -->
      <div class="form-group">
        <label for="key">Update Key</label>
        <input type="password" class="form-control" id="key" name="key" placeholder="Your Key Here" autocomplete="new-password">
      </div>
      
      <!-- SUBMIT BUTTON -->
      <button type="submit" class="btn btn-primary">Save Update</button>
    </form>
    
  </div>
</div>
